<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pessoas</h1>
  <p class="lead">
    Crie, edite, atualize sua lista de pessoas <br />
    Criado usando ASP.NET Core WebAPI e Angular 7
  </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center col-md-3 mx-auto">
    <div class="card box-shadow">
      <div class="card-header" routerLink="pessoas" style="cursor: pointer">
        <div class="text-dark" >
          <h4 class="my-0 font-weight-normal">Ir para Pessoas</h4>
        </div>
      </div>
    </div>
  </div>
</div>
